body {
  background-color: #f0dcd3;
  font-family: 'Averia Sans Libre';
  padding: 0px;
  margin: 0px;
}

.topnav {
  background-color: #edc8b8 ;
  text-align: right;
  text-color: #fff7f3 ;
  padding: 0px 30px;
  height: 44px;
}

.image {
  align: center;
  height: ;
}

.buttons {
  display: inline-block;
  padding: 12px 28px;
  text-align: center;
  font-size: 30px;
  background: #edc8b8;
  border: 2px solid #edc8b8;
  border-radius: 3px;
}

.buttons:link {
  text-decoration: none;
  text-color: #fff7f3;
}

.buttons:visited {
  text-decoration: none;
  text-color: #fff7f3;
}
  
.buttons:hover {
  background-color: #f1dbd1;
  border: 2px solid #edc8b8;
  text-decoration: none;
  text-color: #fff7f3;
}

.footer {
  background-color: #edc8b8;
  padding: 10px;
  text-size: auto;
  height: 22px;
}
