body {
  background-color: #f0dcd3;
  text-color: #fff7f3;
  font-family: 'Averia Sans Libre';
  padding: 0px;
  margin: 0px;
}

.topnav {
  background-color: #edc8b8 ;
  padding: 14px 30px;
}

.navtext {
  text-align: right;
  text-color: #fff7f3;
  text-size: 20px;
}

a:link a:visited a:hover {
  text-decoration: none;
}

.image {
  align: center;
  object-fit: cover;
  width: auto;
  max-height: 300px;
}

.buttons {
  display: inline-block;
  padding: 12px 28px;
  width: 150px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  background: #edc8b8;
  border: 2px solid #edc8b8;
  border-radius: 3px;
  margin: 40px 25px 80px 25px;
  box-shadow:-10px 10px;
}

.buttons:hover {
  background-color: #f1dbd1;
  border: 2px solid #edc8b8;
}

.footer {
  background-color: #edc8b8;
  padding: 6px 35px;
  margin-top: 4px;
}

.footertext {
  text-size: 18px;
  text-align: left;
  text-color: #fff7f3;
}
