body {
  background-color: #f0dcd3;
  font-family: 'Averia Sans Libre';
  padding: 0px;
  margin: 0px;
}

topnav {
  background-color: #edc8b8 ;
  text-align: right;
  text-color: #fff7f3 ;
  text-size: 20px;
  padding: 14px 30px;
}

a:link a:visited a:hover {
  text-decoration: none;
  text-color: #fff7f3;
}

image {
  align: center;
  height: ;
}

.buttons {
  display: inline-block;
  padding: 12px 28px;
  text-align: center;
  font-size: 30px;
  background: #edc8b8;
  border: 2px solid #edc8b8;
  border-radius: 3px;
  margin: 40px 25px 80px 25px;
}

.buttons:hover {
  background-color: #f1dbd1;
  border: 2px solid #edc8b8;
}

footer {
  background-color: #edc8b8;
  padding: 6px 40px;
  margin-top: 10px;
  text-size: 18px;
}
