body {
  background-color: #f0dcd3;
  font-family: 'Averia Sans Libre';
}

.topnav {
  background-color: #edc8b8 ;
  text-align: right;
  text-color: #fff7f3 ;
}

.image {
  align: center;
  width: ;
  height: ;
}

.heading {
  font-size: 30px;
  text-color: #d79;
  text-align: center;
}

.buttons {
  display: inline-block;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  background: #edc8b8;
  border-radius: 3px;
}

.buttons:hover {
  background-color: #f1dbd1;
  border: 2px solid #edc8b8;
}
