.body {
  background-colour: ;
  font-family: Arial,Helvetica,sans-serif;
  margin:-;
}

.heading {
  font-size: 40px;
  text-align: center;
  padding: 40px;
}

.navbar {
  background: transparent;
  
