body {
  background-color: #fed;
  font-family: 'Averia Sans Libre';
}

.topnav {
  background-color: # ;
  text-align: right;
  text-color: # ;
}

.heading {
  font-size: 30px;
  text-color: #d79;
  text-align: center;
}

.buttons {
  display: inline-block;
  float: center;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  background: transparent;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.buttons:hover {
  border: 2px solid #777;
}
