.body {
  background-colour: antique-white;
  font-family: serif;
}

.heading {
  font-size: 30px;
  text-align: center;
}

.buttons {
  display: inline;
  margin: 10px;
  font-size: 30px;
  background: transparent;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.buttons:hover {
  border: 2px solid #777;
}
