body {
  background-color: #f0dcd3;
  font-family: 'Averia Sans Libre';
  padding: 0px;
  margin: 0px;
}

.topnav {
  background-color: #edc8b8 ;
  text-align: right;
  text-color: #fff7f3 ;
}

.image {
  align: center;
  width: ;
  height: ;
}

.buttons {
  display: block;
  text-align: center;
  min-width: 300px;
  font-size: 30px;
  background: #edc8b8;
  border: 2px solid #edc8b8;
  border-radius: 3px;
}

.buttons:hover {
  background-color: #f1dbd1;
  border: 2px solid #edc8b8;
}
