.body {
  background-colour: rgb(240,220,211);
  font-family: serif;
}

.heading {
  font-size: 30px;
  text-align: center;
}

.buttons {
  font-size: 20px;
  background: transparent;
  border: 2px solid;
  border-radius: 5px;
}
