body {
  background-color: #f0dcd3;
  font-family: 'Averia Sans Libre';
  padding: 0px;
  margin: 0px;
}

.topnav {
  background-color: #edc8b8 ;
  text-align: right;
  text-color: #fff7f3 ;
}

.image {
  align: center;
  width: ;
  height: 800px;
}

.buttons {
  display: inline-block;
  margin: auto;
  padding: 12px 28px;
  text-align: center;
  font-size: 30px;
  background: #edc8b8;
  border: 2px solid #edc8b8;
  border-radius: 3px;
}

.buttons:link, buttons:visited {
  text-decoration: none;
  
.buttons:hover {
  background-color: #f1dbd1;
  border: 2px solid #edc8b8;
}
