body {
  background-color: #f0dcd3;
  text-color: #fff7f3;
  font-family: 'Averia Sans Libre';
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

.topnav {
  background-color: #edc8b8 ;
  padding: 14px 30px;
  text-decoration: none;
  width: 100%;
  height: 30px;
}

.navtext {
  object-fit: contain;
  text-align: right;
  text-size: 0px;
  list-style-type: none;
  margin: 0px;
  padding: 5px 10px 5px 0px;
  display: block;
  overflow: hidden;
}

.navtext li {
  background-color: #fff7f3;
  text-color: #edc8b8;
  text-size: 20px;
  text-decoration: none;
  padding: 1px 2px;
}

ul a {
  text-decoration: none;
}

.image {
  align: center;
}

img {
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  margin-top: 50px;
}

.center {
  align: center;
}

button {
  display: inline-block;
  padding: 10px 28px;
  width: 175px;
  height: 45px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  background: #edc8b8;
  border: 2px solid #edc8b8;
  border-radius: 3px;
  margin: 40px 25px 80px 25px;
  box-shadow:-10px 10px #fff7f3;
  align: center;
}

button:hover {
  background-color: #f1dbd1;
  border: 2px solid #edc8b8;
}

button a {
  text-decoration: none;
}

footer {
  background-color: #edc8b8;
  width: 100%;
  padding: 2px 35px;
  margin-top: 4px;
  text-color: #fff7f3;
  text-size: 16px;
  text-align: left;
}
