body {
  background-colour: #fed;
  font-family: serif;
}

.heading {
  font-size: 30px;
  text-color: #d79;
  text-align: center;
}

.buttons {
  display: inline-block;
  align: center;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  background: transparent;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.buttons:hover {
  border: 2px solid #777;
}
