.body {
  background-colour: rgb(240,220,211);
  font-family: serif;
}

.heading {
  font-size: 30px;
  text-align: center;
}

.buttons {
  margin: 20px;
  font-size: 30px;
  background: transparent;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.buttons:hover {
  border: 2px solid #777;
}
